.weight-tracker__input-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.weight-tracker__input-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.weight-tracker__date-picker {
    width: 200px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
  }


